const config = {
  DEV: {
    HOST: 'localhost',
    USER: 'user',
    PASSWORD: 'password',
    DB: 'template_api',
    dialect: 'mysql',
    pool: {
      max: 5,
      min: 0,
      acquire: 30000,
      idle: 10000,
    },
  },
  PROD: {
    HOST: 'localhost',
    USER: 'user',
    PASSWORD: 'password',
    DB: 'template_api',
    dialect: 'mysql',
    pool: {
      max: 5,
      min: 0,
      acquire: 30000,
      idle: 10000,
    },
  },
};

module.exports = { config };
